label {
    color: gray;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
}

.error-message > i,p {
    color:rgb(199, 15, 15);
}

.error-message > p {
    font-weight: bold;
}

h4{
    color:gray;
    font-style: italic;
    font-weight: bold;
}
span{
    font-size: 17px;
    font-weight: bold;
}
